{
	"logLevel": "warn",
	"dialPath": "/apps/",
	"dialPort": 8001,
	"device": {
		"name": "Dial Server",
		"model": "My Test",
		"description": "My Test App"
	},
	"vendor": {
		"url": "a.b.c",
		"name": "My Company"
	}
}